*.log
Analysis/02_purity/inc/utils/__pycache__/utils.cpython-39.pyc
.DS_Store
.gitignore.txt~
.idea/
*pycache*
get-started-2025/Plots/*
Analysis/.DS_Store
Analysis/01_cosmics/.DS_Store
Analysis/01_cosmics/Plots/
Analysis/01_cosmics/inc/__pycache__/
Analysis/01_cosmics/inc/analyze_single_strips.py
Analysis/01_cosmics/inc/basicFunctions.py
Analysis/01_cosmics/inc/check_cosmic.py
Analysis/01_cosmics/inc/show_event.py
Analysis/01_cosmics/inc/storeInfo.py
Analysis/02_purity BKP open/
Analysis/02_purity BKP/
Analysis/02_purity/.DS_Store
Analysis/02_purity/.idea/
Analysis/02_purity/Plots - Nice Test/
Analysis/02_purity/Plots/
Analysis/02_purity/Plots_didactical_2xGain/
Analysis/02_purity/Plots_ok/
Analysis/02_purity/bkp/
Analysis/02_purity/gif_images/
Analysis/02_purity/inc/.DS_Store
Analysis/02_purity/inc/__pycache__/
Apa/.DS_Store
Apa/Old/
Apa/Plots_20230520-021540/
Apa/Plots_20230520-030617/
Apa/Plots_20230522-004252/
Apa/Plots_20230522-005615/
Apa/Plots_20230522-011758/
Apa/Plots_20230522-021104/
Apa/Plots_20230522-024726/
Apa/Plots_20230522-034026/
Apa/Plots_20230522-035436/
Apa/Plots_20230522-035545/
Apa/Plots_20230522-035713/
Apa/Plots_20230522-040126/
Apa/Plots_20230522-040356/
Apa/Plots_20230522-040934/
Apa/Plots_20230522-041128/
Apa/Plots_20230522-041240/
Apa/Plots_20230622-114845/
Apa/Plots_20230622-115356/
Apa/__pycache__/
BKP/
Converter/.DS_Store
Converter/inc/.DS_Store
Converter/inc/__pycache__/
DAQ/
DATA/
Simulation/.DS_Store
Simulation/Python/.DS_Store
Simulation/Python/OldVersions/
Simulation/Python/Output/
Simulation/Python/Output_1E7particles_M/
Simulation/Python/Output_1E8particles_M/
Simulation/Python/inc/__pycache__/
converter_script.sh
import_raw_data.sh
Converter_dev
DATA/
Converter/__pycache__
Converter/inc/__pycache__
Simulation/Python/Output*
Simulation/Python/inc/__pycache
Simulation/Python/OldVersions
Analysis/.DS_Store
Analysis/01_cosmics/.DS_Store
Analysis/01_cosmics/Plots/
Analysis/01_cosmics/inc/__pycache__/
Analysis/01_cosmics/inc/analyze_single_strips.py
Analysis/01_cosmics/inc/basicFunctions.py
Analysis/01_cosmics/inc/check_cosmic.py
Analysis/01_cosmics/inc/show_event.py
Analysis/01_cosmics/inc/storeInfo.py
Analysis/02_purity/.DS_Store
Analysis/02_purity/.idea/
Analysis/02_purity/Plots - Nice Test/
Analysis/02_purity/Plots/
Analysis/02_purity/Plots_didactical_2xGain/
Analysis/02_purity/inc/.DS_Store
Analysis/02_purity/inc/__pycache__/
Analysis/02_purity/inc/filter_data.py
Apa/.DS_Store
Apa/Old/
Apa/Plots_20230520-021540/
Apa/Plots_20230520-030617/
Apa/Plots_20230522-004252/
Apa/Plots_20230522-005615/
Apa/Plots_20230522-011758/
Apa/Plots_20230522-021104/
Apa/Plots_20230522-024726/
Apa/Plots_20230522-034026/
Apa/Plots_20230522-035436/
Apa/Plots_20230522-035545/
Apa/Plots_20230522-035713/
Apa/Plots_20230522-040126/
Apa/Plots_20230522-040356/
Apa/Plots_20230522-040934/
Apa/Plots_20230522-041128/
Apa/Plots_20230522-041240/
Apa/Plots_20230622-114845/
Apa/Plots_20230622-115356/
Apa/__pycache__/
BKP/
Converter/.DS_Store
Converter/inc/__pycache__/
DAQ/
DATA/
Simulation/.DS_Store
Simulation/Python/.DS_Store
Simulation/Python/OldVersions/
Simulation/Python/Output/
Simulation/Python/Output_1E7particles_M/
Simulation/Python/Output_1E8particles_M/
Simulation/Python/inc/__pycache__/
